---
layout: archive
title: "主要项目情况"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

#主持的科研项目

国家自然科学基金面上项目：面向多模态视觉跟踪的鲁棒表征和自适应融合模型研究，62376004，2024.01–2027.12

安徽省高等学校科学研究项目重大项目：面向交通安全的鲁棒视觉感知方法及应用，2022AH040014，2023.01–2025.12

安徽省杰出青年基金：以车为中心的视觉分析及应用，2208085J18，2022.01–2024.12

国家自然科学基金面上项目：面向高性能视觉追踪的目标外观鲁棒和高效建模研究，61976003，2020.01–2023.12

高校协同创新项目课题：智能车辆先进感知与优化控制方法研究，GXXT-2020-051，2021.01-2023.12

模式识别国家重点实验室开放课题：基于视觉融合模型的RGBT跟踪研究，2021.01-2022.12

企业委托课题（讯飞智元信息科技有限公司，100万）：交通场景视频分析算法研究，2020340022000076，2020.02–2022.07

国家自然科学基金青年项目：基于协同图模型和协同相关性滤波的多模态目标跟踪方法研究，61702002，2018.01–2020.12

安徽省自然科学基金青年项目：基于局部平滑性和全局一致性协同图模型的多模态目标跟踪方法研究，1808085QF187，2018.07-2021.06

安徽省高等学校自然科学基金重点项目：基于时空一致性协同流形排序模型的多模态视频显著性检测方法研究，KJ2017A017, 2017.07-2018.12
