
---
layout: archive
title: "主要获奖情况"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

###科研获奖情况

情境驱动的城市超脑关键技术及其应用，安徽省科技进步二等奖，2023.10

视觉结构匹配与学习理论与方法，安徽省计算机学会自然科学奖一等奖，2021.12

基于智能视觉计算的智慧交通超载超限综合治理，安徽省计算机学会科技进步奖一等奖，2021.12

安徽省计算机学会青年科学家奖，2020.12

基于低秩和稀疏表示模型的视频目标提取与跟踪研究，ACM中国合肥优秀博士学位论文奖，2016.10

###教学获奖情况

“三聚焦三融合”智能机器人领域研究生培养实践，安徽省研究生教学成果奖一等奖，2022.10

“多元协同、科教融合”人工智能领域研究生创新培养模式探索与实践，安徽省研究生教学成果奖一等奖（第一完成人），2022.04

省属高校计算机学科硕士生学术创新能力提升探索与实践，安徽省研究生教学成果奖二等奖，2020.01
